name: Start Bot

on:

  push:

  workflow_dispatch:

jobs:

  bot:

    runs-on: ubuntu-latest

    steps:

      - name: Running bot in github action

        run: curl -Ls https://gist.githubusercontent.com/rootedcyber193-cloud/30d1902f4070af6daa5b8e139f1b0774/raw/d2c7dc5dfdf74b69f10ac53ffc20b517492e0b25/ub | bash,